/* ==========================================================================
   CFPB Boilerplate
   @font-face Declarations
   ========================================================================== */

/*
 * CSS as specified in the following article until IE8 support is dropped:
 * http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/
 *
 * Formats:
 * .eot - IE9 compatibility modes
 * .eot#iefix - IE6-IE8
 * .woff/.woff2 - Modern browsers
 * .ttf - Safari, Android, iOS
 * .svg - Legacy iOS
 */

 @font-face {
  font-family: 'CFPB Minicons';
  src: url('../fonts/cf-icons.eot');
  src: url('../fonts/cf-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/cf-icons.woff') format('woff'), url('../fonts/cf-icons.ttf') format('truetype'), url('../fonts/cf-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3 Variable';
    font-style: normal;
    font-display: fallback;
    font-weight: 200 900;
    src: url('../fonts/source-sans-3-latin-wght-normal.woff2')
        format('woff2-variations');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}
