@import "fonts.css";
/* @import "normalize.css"; */

/*
Normalize the box model - Thanks, Paul Irish!
==============================================
*,
*:before,
*:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
*/

/*
html, span, applet, object, iframe, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption, hgroup,
menu, output, ruby, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;©
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/

/* NEW STUFF */

@media only screen and (min-width: 30em) {
    body ul#resources li.resource div.heading ul.options {
        float: left;
        clear: none;
        margin-bottom: 1em;
    }

    h2 {
        margin: 0;
        margin-bottom: 1em;
    }
}

.console-footer {
    display: none;
}

.endpoints {
    margin-left: 0;
}

.operations {
    margin-left: 0;
}

h6 {
    color: #75787B;
    text-transform: none;
}


/* HIDE SWAGGER UI ITEMS */
#resource_integration_test {
    display: none;
}

#resource_county_taxes {
    display: none;
}

#resource_census {
    display: none;
}


.fullwidth th {
    background-color: #ebf3f9;
    color: #101820;
    padding: .5em 0 .25em 0;
}


ol, ul {
    list-style: none;
}

.heading_with_menu {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

.heading_with_menu h1, .heading_with_menu h2, .heading_with_menu h3, .heading_with_menu h4, .heading_with_menu h5, .heading_with_menu h6 {
    display: block;
    clear: none;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
}

.heading_with_menu ul {
    display: block;
    clear: none;
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
}

input.parameter {
    width: 75%;
    border: 1px #d0d0ce solid;
    font-family: "Avenir Next", Arial, sans-serif;
    padding: 2px;
}

select.parameter {
    background-color: #FFFFFF;
    /*width: 85%; disabling this to match drop-down menu width with that of other drop-downs in other consoles */
    border: 1px solid #CCC;
    /*vertical-align: middle;*/
    font-family: "Avenir Next", Arial, sans-serif;
    /*-webkit-border-radius: 0px !important;
    border-radius: 0px !important;*/
    padding: .75em 0;


}

.body-textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #aaa;
}

/*
ol {
    margin: 0px 0 10px;
    padding: 0 0 0 18px;
    list-style-type: decimal;
}

ol li {
    padding: 5px 0px;
    font-size: 0.9em;
    color: #333333;
}
*/


div.gist {
    margin: 20px 0 25px 0 !important;
}

.code {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
}

.code td pre {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    background-color: #FFFFFF;
    border: 1px solid #e3e4e5;
    padding: 10px;
}

pre code {
    line-height: 1.6em;
    border: none;
}

.required {
    font-weight: bold;
}

table.fullwidth {
    width: 100%;

}


table thead {
    border-left: none;
    border-right: none;
}

table thead tr th {
    font-size: 1em;
    color: #101820;
    border-bottom: 1px solid #D0D0CE;
    font-family: "Avenir Next Medium", Arial, sans-serif;
    font-weight: 400;
    background-color: none;
}

table tbody tr.offset {
    background-color: none;
}

table tbody tr td {
    padding: 1em 0;
    font-size: 0.9em;
    border-bottom: 1px solid #cccccc;
    vertical-align: top;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr.offset {
    background-color: none;
}

form.form_box {
    background-color: #ebf3f9;
    border: 1px solid #c3d9ec;
    padding: 10px;
}

form.form_box label {
    color: #0f6ab4 !important;
}

form.form_box input[type=submit] {
    display: block;
    padding: 10px;
}

form.form_box p {
    font-size: 0.9em;
    padding: 0 0 15px;
    color: #101820;
}

form.form_box p a {
    color: #0072CE;
}

form.form_box p strong {
    font-weight: bold;
}

form.form_box p.weak {
    font-size: 0.85em;
}

form.formtastic fieldset.inputs ol li p.inline-hints {
    margin-left: 0;
    font-size: 0.85em;
    margin: 0;
}

form.formtastic fieldset.inputs ol li label {
    display: block;
    clear: both;
    width: auto;
    padding: 0 0 3px;
    color: #75787B;
}

form.formtastic fieldset.inputs ol li label abbr {
    padding-left: 3px;
    color: #BABBBD;
}

form.formtastic fieldset.inputs ol li.required label {
    color: #101820;
}

form.formtastic fieldset.inputs ol li.string input, form.formtastic fieldset.inputs ol li.url input, form.formtastic fieldset.inputs ol li.numeric input {
    display: block;
    padding: 4px;
    width: auto;
    clear: both;
}

form.formtastic fieldset.inputs ol li.string input.title, form.formtastic fieldset.inputs ol li.url input.title, form.formtastic fieldset.inputs ol li.numeric input.title {
    font-size: 1em;
}

form.formtastic fieldset.inputs ol li.text textarea {
    font-family: "Avenir Next", Arial, sans-serif;
    height: 250px;
    padding: 4px;
    display: block;
    clear: both;
}

form.formtastic fieldset.inputs ol li.select select {
    display: block;
    clear: both;
}


form.formtastic fieldset.inputs ol li.boolean {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

form.formtastic fieldset.inputs ol li.boolean input {
    display: block;
    float: left;
    clear: none;
    margin: 0 5px 0 0;
}

form.formtastic fieldset.inputs ol li.boolean label {
    display: block;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
}

form.formtastic fieldset.buttons {
    margin: 0;
    padding: 0;
}

form.fullwidth ol li.string input, form.fullwidth ol li.url input, form.fullwidth ol li.text textarea, form.fullwidth ol li.numeric input {
    width: 500px !important;
}


body #content_message {
    margin: 10px 15px;
    font-style: italic;
    color: #999999;
}

/* disable swagger header
body #header form#api_selector {
    display: block;
    clear: none;
    float: right;
}

body #header form#api_selector .input {
    display: block;
    clear: none;
    float: left;
    margin: 0 10px 0 0;
}

body #header form#api_selector .input input {
    font-size: 0.9em;
    padding: 3px;
    margin: 0;
}

body #header form#api_selector .input input#input_baseUrl {
    width: 400px;
}

body #header form#api_selector .input input#input_apiKey {
    width: 200px;
}

body #header form#api_selector .input a#explore {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #547f00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

body #header form#api_selector .input a#explore:hover {
    background-color: #547f00;
}

body p#colophon {
    margin: 0 15px 40px 15px;
    padding: 10px 0;
    font-size: 0.8em;
    border-top: 1px solid #dddddd;
    font-family: "Avenir Next", Arial, sans-serif;
    color: #999999;
    font-style: italic;
}

body p#colophon a {
    text-decoration: none;
    color: #547f00;
}
*/

body ul#resources {
    font-family: "Avenir Next", Arial, sans-serif;
    margin-left: 0;
    margin-bottom: ;
}

body ul#resources li.resource {
    border-bottom: none;
}

body ul#resources li.resource:last-child {
    border-bottom: none;
}

body ul#resources li.resource div.heading {
    border: 1px solid transparent;
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    font-family: "Avenir Next", Arial, sans-serif;
}

body ul#resources li.resource div.heading h2 {
    color: #101820;
    padding-left: 0;
    display: block;
    clear: none;
    float: left;
    font-family: "Avenir Next", Arial, sans-serif;
    font-size: .85em;
    margin-bottom: .5em;
}

body ul#resources li.resource div.heading h2 a {
    color: #101820;
    font-family: "Avenir Next Demi", Arial, sans-serif;
    text-decoration: none;
    border-bottom: none;
    font-size: 1.25em;
}

body ul#resources li.resource div.heading h2 a:hover {
    color: #101820;
    text-decoration: none;
}

body ul#resources li.resource div.heading ul.options {
    overflow: hidden;
    padding-top: .25em;
    display: block;
    clear: none;
    float: right;
    margin: 0;
    font-size: .75em;
    color: #0072ce;
    font-family: "Avenir Next Medium", Arial, sans-serif;
}

ul.options li{
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 0;
    font-size: .75em;
    color: #0072ce;
    font-family: "Avenir Next", Arial, sans-serif;
}

body ul#resources li.resource div.heading ul.options li {
    float: left;
    clear: none;
    margin-bottom: .5em;
    padding: 0px 5px;
    border-right: 1px solid #75787B;
}

body ul#resources li.resource div.heading ul.options li:first-child, body ul#resources li.resource div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource div.heading ul.options li:last-child, body ul#resources li.resource div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource div.heading ul.options li {
    color: #0072ce;
    font-size: 1em;
}

body ul#resources li.resource div.heading ul.options li a {
    color: #0072ce;
    text-decoration: none;
    border-bottom: none;
}

body ul#resources li.resource div.heading ul.options li a:hover {
    text-decoration: none;
    color: #0072ce;
}

body ul#resources li.resource:hover div.heading h2 a, body ul#resources li.resource.active div.heading h2 a {
    color: #101820;
}

body ul#resources li.resource:hover div.heading ul.options li a, body ul#resources li.resource.active div.heading ul.options li a {
    color: #0072CE;
}

pre code {
  background: none;
}

.content pre {
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
}

.content > .response-content-type > div > label {
  clear: both;
  display: block;
  color: #101820;
  font-size: .85em;
  margin: 0;
  text-transform: uppercase;
  font-family:"Avenir Next Demi", Arial, sans-serif;
  padding: .5em 0;
}

.parameter-table {
    padding: 1em 0;
}

.swagger-ui-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.icon-btn {
  cursor: pointer;
}

/* ERROR MESSAGES */
#message-bar {
  text-align: center;
  min-height: 20px;
  padding-top: 10px;
  font-size: .75em;
}

.message-success {
  color: #0072CE;
}

.message-fail {
  color: #D96A4F;
}

/* MODEL SIGNATURE */
.model-signature {
    font-family: "Avenir Next", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.model-signature .description div {
    font-size: 0.85em;
    line-height: 1.5em;
    margin-left: 1em;
}

.model-signature .description .strong {
    font-weight: normal;
    color: #101820;
    font-size: .85em;
}

.model-signature .description .stronger {
    font-weight: normal;
    color: #101820;
}

.model-signature .signature-nav a {
    text-decoration: none;
    color: #101820;
    font-size: .85em;
}

.model-signature pre {
    font-size: .85em;
    line-height: 1.2em;
    overflow: auto;
    max-height: 200px;
    cursor: pointer;
}

.model-signature pre:hover {
    background-color: none;
    cursor: pointer;
}

.model-signature .snippet small {
    font-size: 0.75em;
}

.model-signature .signature-container {
    clear: both;
}

.model-signature .signature-nav a:hover {
    text-decoration: none;
    color: #7eb8dd;
}

.model-signature .signature-nav .selected {
    color: #0072CE;
    text-decoration: none;
    font-family: "Avenir Next Demi", Arial, sans-serif;
}

.model-signature ul.signature-nav {
    display: block;
    margin: 0;
    padding: 0;
}

.model-signature ul.signature-nav li {
    float: left;
    margin: 0;
    padding: 0 .5em 0 0;
    border-right: 1px solid #ddd;
    line-height: 1.25em;
    margin-bottom: .5em;
}

.snippet code, pre {
    margin-bottom: 0;
    padding: 0;
}

.snippet {
    margin: .5em 0;
}

.model-signature ul.signature-nav li:last-child {
    padding-left: .5em;
    border-right: none;
}

.model-signature .propName {
  font-weight: bold;
}
.model-signature .propType {
  color: #002D72;
}
.model-signature .propOptKey {
  font-style: italic;
}
.model-signature .propOpt {
  color: #75787B;
}


/* STYLE GET OPERATIONS */

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get {
    float: none;
    clear: both;
    overflow: hidden;
    /*display: block;*/
    margin: 0 0 10px;
    padding: 0;
}


/* hiding operations that freeze browser */
#data_getDataset_get_1.operation.get {
    display: none;
}

#hmda_getDatasetHmda_get_0.operation.get {
    display: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #CDE3F1;
    border: 1px solid #7EB8DD;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    color: #101820;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #0072CE;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: .64em;
    font-weight: bold;
    text-align: center;
    padding: .64em 1.25em;
    border-bottom: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.path {
    padding-left: .5em;
    font-size: .5em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.path a {
    color: #101820;
    text-decoration: none;
    border-bottom: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.path a:hover {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options {
    overflow: hidden;
    padding-top: 4px;
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: .3em 1em 0 .5em;

}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li.last {
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li {
    border-right-color: #c3d9ec;
    color: #0f6ab4;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a {
    color: #101820;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a.active {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content {
    background-color: #ebf3f9;
    border: 1px solid #c3d9ec;
    border-top: none;
    padding: 10px;
    margin: 0 0 20px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content h4 {
    color: #101820;
    font-size: .85em;
    margin: 0;
    padding: 1em 0 .5em;
    text-transform: uppercase;
    font-family: "Avenir Next Demi", Arial, sans-serif;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #D12124; /* red error text */
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: .6em 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 1em;
    font-family: "Avenir Next Medium", Arial, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #75787B;
    text-decoration: none;
    transition: .1s;
    -webkit-transition: .1s;
    font-size: .875em;
    border: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header input.submit:hover {

    background-color: #8E9193;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header img {
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header a {
    margin-top: 1.2em;
    color: #0072CE;
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.57142857142857em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.response div.block pre {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    padding: 0.125em 0.250em;
    font-size: 0.75em;
    max-height: 400px;
    overflow-y: auto;
    line-height: 1.375;
}


body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.response div.block pre code {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    font-size: 1em;
    border: none;
    margin-bottom: 0;
    padding: 0.125em 0.250em;

}



/* THESE ARE FOR POST CALLS ONLY 
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
    padding: 0;
}


body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #e7f6ec;
    border: 1px solid #c3e8d1;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #10a54a;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 7px 0 4px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.path {
    padding-left: 10px;
    padding-bottom: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.path a {
    color: black;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.path a:hover {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options {
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 6px 10px 0 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #dddddd;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li {
    border-right-color: #c3e8d1;
    color: #10a54a;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a {
    color: #10a54a;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a.active {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content {
    background-color: #ebf7f0;
    border: 1px solid #c3e8d1;
    border-top: none;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content h4 {
    color: #10a54a;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #cc0000;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 6px 8px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header img {
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header a {
    padding: 4px 0 0 10px;
    color: #6fc992;
    display: inline-block;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.response div.block pre {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
}
*/

/* THIS IS FOR PUT CALLS ONLY 
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f9f2e9;
    border: 1px solid #f0e0ca;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #c5862b;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 7px 0 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.path {
    padding-left: 10px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.path a {
    color: black;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.path a:hover {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options {
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 6px 10px 0 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #dddddd;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li {
    border-right-color: #f0e0ca;
    color: #c5862b;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li a {
    color: #c5862b;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li a.active {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content {
    background-color: #faf5ee;
    border: 1px solid #f0e0ca;
    border-top: none;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content h4 {
    color: #c5862b;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #cc0000;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 6px 8px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header img {
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header a {
    padding: 4px 0 0 10px;
    color: #dcb67f;
    display: inline-block;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.response div.block pre {
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
}
*/

/* THIS IS FOR PATCH
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #FCE9E3;
    border: 1px solid #F5D5C3;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #D38042;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 7px 0 4px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.path {
    padding-left: 10px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.path a {
    color: black;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.path a:hover {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options {
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 6px 10px 0 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #dddddd;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li {
    border-right-color: #f0cecb;
    color: #D38042;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li a {
    color: #D38042;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li a.active {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content {
    background-color: #faf0ef;
    border: 1px solid #f0cecb;
    border-top: none;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content h4 {
    color: #D38042;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #F5D5C3; 
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 6px 8px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.sandbox_header img {
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.sandbox_header a {
    padding: 4px 0 0 10px;
    color: #dcb67f; 
    display: inline-block;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.response div.block pre {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
}
*/

/* THIS IS ONLY FOR HEAD OPERATIONS (lolz)
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 0 0px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #fcffcd; 
    border: 1px solid black;
    border-color: #ffd20f; 
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #ffd20f; 
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 7px 0 4px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span.path {
    padding-left: 10px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span.path a {
    color: black;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span.path a:hover {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options {
    float: none;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 6px 10px 0 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #dddddd;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li {
    border-right-color: #ffd20f;
    color: #ffd20f;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li a {
    color: #ffd20f;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li a.active {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content {
    background-color: #fcffcd;
    border: 1px solid black;
    border-color: #ffd20f;
    border-top: none;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content h4 {
    color: #ffd20f;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px 0px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #cc0000;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 6px 8px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.sandbox_header img {
    display: block;
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.sandbox_header a {
    padding: 4px 0 0 10px;
    color: #6fc992;
    display: inline-block;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.response div.block {
    background-color: #fcf6db;
    border: 1px solid black;
    border-color: #e5e0c6;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.response div.block pre {
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
}
*/

/* THIS IS ONLY FOR DELETE OPERATIONS
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f5e8e8;
    border: 1px solid #e8c6c7;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #a41e22;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 7px 0 4px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.path {
    padding-left: 10px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.path a {
    color: black;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.path a:hover {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options {
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 6px 10px 0 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #dddddd;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li {
    border-right-color: #e8c6c7;
    color: #a41e22;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li a {
    color: #a41e22;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li a.active {
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content {
    background-color: #f7eded;
    border: 1px solid #e8c6c7;
    border-top: none;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content h4 {
    color: #a41e22;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #cc0000;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 6px 8px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header img {
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header a {
    padding: 4px 0 0 10px;
    color: #c8787a;
    display: inline-block;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.response div.block pre {
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
}

*/


/*

.info_title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.info_description {
  padding-bottom: 10px;
  font-size: 15px;
}

.info_tos {
  padding-bottom: 5px;
}

.info_license {
  padding-bottom: 5px;
}

.info_contact {
  padding-bottom: 5px;
}
*/